<div class="row">
  <div class="col-xs-12">
    <h3>Welcome to the Game!</h3>
    <button
      class="btn btn-success"
      (click)="onPlay()"
    >Start Game
    </button>
    <button
      class="btn btn-warning"
      (click)="onStop()"
    >Stop Game
    </button>

    <p>{{lastNumber}}</p>
    <div class="row">
      <div class="col-xs-12">
        <app-odd *ngFor="let number of oddNumbers"
        [number]="number"></app-odd>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <app-even *ngFor="let number of evenNumbers"
                  [number]="number"></app-even>
      </div>
    </div>

  </div>
</div>
<hr>
